@{
    Layout = "~/Views/Shared/_LayoutAuthorize.cshtml";
}
<div class="content" id="authorize" style="width:50%">
    <h2 style="font-size:18px;font-weight:700">@InformationHub.Resource.Resource.Authorize_Confirm_Change_Password</h2>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="form-label">@InformationHub.Resource.Resource.Authorize_Confirm_Code<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="ConfirmForwardPassword_ConfirmKey" ntsvalidate="required">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="form-label">@InformationHub.Resource.Resource.Authorize_New_Password<span class="required">*</span></label>
                <div class="controls">
                    <input type="password" class="form-control" id="ConfirmForwardPassword_PasswordNew" ntsvalidate="required,min=6">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="form-label">@InformationHub.Resource.Resource.Authorize_Confirm_New_Password<span class="required">*</span></label>
                <div class="controls">
                    <input type="password" class="form-control" id="ConfirmForwardPassword_ConfirmPasswordNew" ntsvalidate="required,min=6">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="button" id="btnConfirmForwardPassword" value="@InformationHub.Resource.Resource.Authorize_Change_Password">
        </div>
    </div>
</div>
