<style>
    #modalChangePassword .modal-dialog{
        width:25%;
    }
</style>
<div id="modalChangePassword" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_producet" class="close" data-dismiss="modal">&times;</button>
                <h4 class="title" style="color:white">@InformationHub.Resource.Resource.Authorize_Change_Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="form-label">@InformationHub.Resource.Resource.Authorize_Current_Password<span class="required">*</span></label>
                            <div class="controls">
                                <input type="password" class="form-control" id="ChangePassword_PasswordOld" ntsvalidate="required,min=6">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="form-label">@InformationHub.Resource.Resource.Authorize_New_Password<span class="required">*</span></label>
                            <div class="controls">
                                <input type="password" class="form-control" id="ChangePassword_PasswordNew" ntsvalidate="required,min=6">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="form-label">@InformationHub.Resource.Resource.Authorize_Confirm_New_Password<span class="required">*</span></label>
                            <div class="controls">
                                <input type="password" class="form-control" id="ChangePassword_ConfirmPasswordNew" ntsvalidate="required,min=6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnChangePassword" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>@InformationHub.Resource.Resource.Save_Title</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-minus-sign"></i>@InformationHub.Resource.Resource.Exit_Title</button>
            </div>
        </div>
    </div>
</div>