@model IList<InformationHub.Model.ComboboxResult>
@foreach (var item in Model)
{
    <option value="@item.Id">@item.Name</option>
}
@if (Model != null && Model.Count > 0)
{
    <script>
    $(document).ready(function () {
       // $('#sWard').val(@Model[0].Exten)
     //   $('#sDistrict').val(@Model[0].PId);

          function myFunction() {
            setTimeout(function () {
               $('#sDistrict').val('@Model[0].PId');
            }, 1000);
        }
        myFunction();
    });
    </script>
}
