@model IList<ChildProfiles.Model.AreaUser.AreaUserSearchResult>
<div style="overflow-x:auto">
    <table class="table table-bordered table-hover" style="min-width:1390px">
        <thead>
            <tr>
                <th width="60px" class="text-center">No.</th>
                <th width="100px" class="text-center">Function</th>
                <th width="220px">Area name</th>
                <th width="180px">Manager</th>
                <th width="170px">Province</th>
                <th width="120px" class="text-center">Number of districts</th>
                <th width="120px" class="text-center">Number of communes</th>
                <th>Description</th>
                <th width="130px">Status</th>
            </tr>
        </thead>
        <tbody>
            @{ int index = ViewBag.Index;string content = "";}
            @foreach (var item in Model)
            {
                content = NTS.Common.Utils.Common.FormatContentNews(item.Description, 110);
                index++;
            <tr>
                <td class="text-center">@index</td>
                <td align="center">
                    <a href="/AreaUser/UpdateAreaUser/@item.Id" class="btn btn-xs btnfuntion" title="Cập nhật địa bàn/Update" ><i class="material-icons btnicon" style="color:orange">edit</i></a>
                    <button onclick="DeleteConfim('@item.Id')" type="button" class="btn btn-xs btnfuntion" title="Xóa địa bàn/Delete" ><i class="material-icons btnicon" style="color:red">delete</i></button>
                </td>
                <td>@item.Name</td>
                <td>@item.Manager</td>
                <td>@item.ProvinceName</td>
                <td class="text-center">@item.CountDistrict</td>
                <td class="text-center">@item.CountWard</td>
                <td>@content</td>
                <td>
                    @if (item.IsActivate==true)
                    {<span>Hoạt động/Active</span> }
                    else
                    { <span>Ngừng hoạt động/Inactive</span>}
                </td>
            </tr>
            }
    </table>
</div>
<div class="pagerbottom margin-top-10">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="form-group">
            <div class="controls">
                <select class="form-control combobox-padding" onchange="ChangeSize()" id="pageSize">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <span>bản ghi/Trang</span>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        @Html.Raw(ViewBag.pages)
    </div>
</div>
<script>
    $('#count_data').html(@ViewBag.TotalItem);
    $('#pageSize').val(@ViewBag.PageSize);
</script>
