@{
    InformationHub.Model.Model.ReportProfile.SupportPlantModel supportPlantModel = ViewBag.supportPlantModel;

}
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="form-group">
            <label class="form-label" for="field-1">@InformationHub.Resource.Resource.Label_Planning_Date</label><span class="required">*</span>
            <div class="controls">
                <input type="hidden" value="@supportPlantModel.Id" id="idSupportPlant" />
                <input type="text" class="form-control " readonly id="SupPlantDate" value="@(supportPlantModel.PlantDate != null ? supportPlantModel.PlantDate.Value.ToString("dd/MM/yyyy") : string.Empty)" />
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="form-group">
            <label class="form-label" for="field-1">@InformationHub.Resource.Resource.Plant_Title</label><span class="required">*</span>
            <div class="controls">
                <input type="text" class="form-control" readonly value="@supportPlantModel.TitlePlant" id="SupTitlePlant" />
            </div>
        </div>
    </div>
</div>
<label class="control-label">1. @InformationHub.Resource.Resource.Label_Task</label>
<textarea id="SupTargetNote" readonly class="form-control margin-bottom-10" rows="8">@supportPlantModel.TargetNote</textarea>
<label class="control-label">2. @InformationHub.Resource.Resource.Report_Activate</label>
<div class="divtext-view">
    @Html.Raw(supportPlantModel.ActionNote)
</div>
<div class="clearfix margin-bottom-15"></div>
<div class="col-lg-6 text-left no-padding">
    <label class="control-label">3.@InformationHub.Resource.Resource.Report_Organization_Doing</label>
</div>
@*<div class="col-lg-6 text-right no-padding">
        <button class="btn btn-s btn-success btn-icon margin-bottom-5" type="button" onclick="AddActionTable()">
            <i class="fa fa-plus"></i> &nbsp; <span>@InformationHub.Resource.Resource.Add_Title</span>
        </button>
    </div>*@
<table class="table table-bordered table-hover" id="tableActivityTab3">
    <thead>
        <tr>
            <th>@InformationHub.Resource.Resource.Report_Activate_Name</th>
            <th>@InformationHub.Resource.Resource.Report_Activate_By</th>
            <th>@InformationHub.Resource.Resource.Report_Activate_Other_By</th>
            <th width="240px">@InformationHub.Resource.Resource.Report_Activate_Time_Doing</th>
        </tr>
    </thead>
    <tbody id="tbodyItem">

        @Html.Action("GenListActionTableDetail", "ReportProfile", new { model = supportPlantModel.ListOrganizationActivities })
    </tbody>
</table>

<label class="control-label">4. @InformationHub.Resource.Resource.Report_Bubget</label>
@if (supportPlantModel.IsEstimateCost == false)
{
    <label class="icheck icheck-primary ">@InformationHub.Resource.Resource.Cost_Title  </label>
}

<div class="row" id="divEstimateCost" style="@(supportPlantModel.IsEstimateCost==false?"display:none":"display:block")">
    <div class="col-md-12" style="margin-bottom: 20px">
        <table class="table">
            <thead>
                <tr>
                    <th width="100px">@InformationHub.Resource.Resource.Funtion_Title</th>
                    <th>@InformationHub.Resource.Resource.Document_Name </th>
                    <th width="120px">@InformationHub.Resource.Resource.Label_Size</th>
                    <th width="120px">@InformationHub.Resource.Resource.Label_Upload_Date</th>
                </tr>
            </thead>
            <tbody id="bodyAttachmentSup">
                @Html.Action("GenViewFileUpdateSubDetail", "ReportProfile", new { Name = "file", ListProfileAttachment = supportPlantModel.ListProfileAttachment })
            </tbody>
        </table>

    </div>
</div>

<textarea hidden id="idlistFileSup">@ViewBag.listFileSup</textarea>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker.vi.min.js"></script>
