@model InformationHub.Model.ReportProfileModel
<section class="wrapper main-wrapper">
    <div ui-view="" class="ng-scope">
        <div class="content-wrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="box">
                    <div class="content-body form-validate padding-bottom-10">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="card card350">
                                    <div class="col-md-12">
                                        <h4 class="card-header">@InformationHub.Resource.Resource.Report_Info</h4>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <div class="form-group">
                                            <label class="form-label">
                                                @InformationHub.Resource.Resource.Time_Title&nbsp;
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="@InformationHub.Resource.Resource.Report_Example_Time"><span class="badge badge-help">?</span></a>
                                            </label>
                                            <div class="controls">
                                                <input type="text" class="form-control" id="ReceptionTime" value="@Model.ReceptionTime" maxlength="15" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Date</label><span class="required">*</span>
                                            <div class="controls">
                                                <input type="text" class="form-control datepicker" id="ReceptionDate" value="@(Model.ReceptionDate!=null?Model.ReceptionDate.Value.ToString("dd/MM/yyyy"):"")" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <div class="form-group">
                                            <label class="form-label" for="field-1">@InformationHub.Resource.Resource.Report_Level <span class="required">*</span></label>
                                            <select name="SeverityLevel" id="SeverityLevel" class="form-control">
                                                <option value="2">@InformationHub.Resource.Resource.ReportProfile_Hight</option>
                                                <option value="1">@InformationHub.Resource.Resource.ReportProfile_Nomal</option>
                                                <option value="0">@InformationHub.Resource.Resource.ReportProfile_Low</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Report_Used<span class="required">*</span></label>
                                            <select name="InformationSources" id="InformationSources0" class="form-control">
                                                <option value="0">@InformationHub.Resource.Resource.Phone_Title</option>
                                                <option value="1">@InformationHub.Resource.Resource.Live_Title</option>
                                                <option value="2">@InformationHub.Resource.Resource.Other_Title</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-15">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.ReportProfile_AbuseType<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="controls">
                                                    <div class="checkbox" id="ListAbuseType_Div">
                                                        @Html.Action("GetAllAbuseTypeUpdate", "Combobox", new { list = Model.ListAbuseType })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divTypeOther" style="@(Model.ListAbuseType.Where(u=>u.Id.Contains(NTS.Common.Constants.TypeOther)).Count()>0?"display:block":"display:none")">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.ReportProfile_AbuseType_Input</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.TypeOther" maxlength="500" id="TypeOther" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="card card350">
                                    <div class="col-md-12">
                                        <h4 class="card-header">@InformationHub.Resource.Resource.Report_Info_Child</h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-8 col col-md-8 col-sm-8 col-xs-8">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.ReportProfile_ChildName<span class="required">*</span></label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.ChildName" id="ChildName" maxlength="300" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.ReportProfile_Gender<span class="required">*</span></label>
                                            <select name="Gender" id="Gender" class="form-control">
                                                <option value="1">@InformationHub.Resource.Resource.ReportProfile_Male</option>
                                                <option value="2">@InformationHub.Resource.Resource.ReportProfile_FeMale</option>
                                                <option value="0">@InformationHub.Resource.Resource.Unknow_Gender</option>
                                            </select>
                                           
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col col-md-8 col-sm-8 col-xs-8">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Birthday</label>

                                            <div class="controls">
                                                <input type="text" class="form-control datepicker" value="@(Model.ChildBirthdate!=null?Model.ChildBirthdate.Value.ToString("dd/MM/yyyy"):"")" id="ChildBirthdate" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Age</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.Age" id="Age" maxlength="3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Area_Province<span class="required">*</span></label>
                                            <div class="controls">
                                                <select class="form-control" id="ProvinceId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_District<span class="required">*</span></label>
                                            <select class="form-control" id="DistrictId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Ward<span class="required">*</span></label>
                                            <div class="controls">
                                                <select class="form-control" id="WardId">
                                                    @Html.Action("WardByUserId", "Combobox")
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">
                                                @InformationHub.Resource.Resource.ReportProfile_ReportAddress <span class="required">*</span>
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="@InformationHub.Resource.Resource.ReportProfile_Example_ReportAddress"><span class="badge badge-help">?</span></a>
                                            </label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.CaseLocation" id="CaseLocation" maxlength="300" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="card card350">
                                    <div class="col-md-12">
                                        <h4 class="card-header">@InformationHub.Resource.Resource.Report_Info_Family</h4>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Report_Name_Dad</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.FatherName" id="FatherName" maxlength="150" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.ReportProfile_Age</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.FatherAge" id="FatherAge" maxlength="3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Career</label>
                                            <div class="controls">
                                                <select class="form-control" id="FatherJob">
                                                    @Html.Action("JobCBB", "Combobox")
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Report_Name_Mom</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.MotherName" id="MotherName" maxlength="150" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.ReportProfile_Age</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.MotherAge" id="MotherAge" maxlength="3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Career</label>
                                            <div class="controls">
                                                <select class="form-control" id="MotherJob">
                                                    @Html.Action("JobCBB", "Combobox")
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">
                                                @InformationHub.Resource.Resource.Report_Situation_Family
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="@InformationHub.Resource.Resource.Report_Example_Situation_Family"><span class="badge badge-help">?</span></a>
                                            </label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.FamilySituation" id="FamilySituation" maxlength="300" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="card card350">
                                    <div class="col-md-12">
                                        <h4 class="card-header">@InformationHub.Resource.Resource.Report_ConditionLive_Child</h4>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label"> @InformationHub.Resource.Resource.Report_Now </label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.CurrentHealth" id="CurrentHealth" maxlength="300" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">
                                                @InformationHub.Resource.Resource.Report_Take_Care
                                              <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="@InformationHub.Resource.Resource.Report_Example_TakeCare"><span class="badge badge-help">?</span></a>
                                             </label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.PeopleCare" id="PeopleCare" maxlength="300" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Report_Predict_Result</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.SequelGuess" id="SequelGuess" maxlength="300" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-label">
                                                @InformationHub.Resource.Resource.Report_Helped
                                                                                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="@InformationHub.Resource.Resource.Report_Example_Helped"><span class="badge badge-help">?</span></a>
                                                                                    </label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.Support" id="Support" maxlength="300" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="card card275">
                                    <div class="col-md-12">
                                        <h4 class="card-header">@InformationHub.Resource.Resource.Report_Info_Reporter</h4>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Name</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.ProviderName" id="ProviderName" maxlength="150" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Phone_Title</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.ProviderPhone" id="ProviderPhone" maxlength="50" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.ReportProfile_Address</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.ProviderAddress" id="ProviderAddress" maxlength="500" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Note</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="@Model.ProviderNote" id="ProviderNote" maxlength="500" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="card card275">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4 class="card-header">@InformationHub.Resource.Resource.Report_Document&nbsp;<span class="required" style="font-size:15px; text-transform:none;"> @InformationHub.Resource.Resource.Report_Document_Size</span></h4>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="100px">@InformationHub.Resource.Resource.Funtion_Title</th>
                                                    <th>@InformationHub.Resource.Resource.Document_Name</th>
                                                    <th width="120px">@InformationHub.Resource.Resource.Label_Size</th>
                                                    <th width="120px">@InformationHub.Resource.Resource.Label_Upload_Date</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bodyAttachment">
                                                @Html.Action("GenViewFileUpdate", "ReportProfile", new { Name = "file", ListProfileAttachment = Model.ListProfileAttachment })
                                            </tbody>
                                        </table>
                                        <div>
                                            <input type="file" id="uploadFileProfile" uploader="uploader" multiple="" style="display:none;">
                                            <button type="button" class="btn btn-success btn-s" onclick="$('#uploadFileProfile').click()">
                                                <span class="glyphicon glyphicon-upload"></span> @InformationHub.Resource.Resource.Label_Choose_File
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                <div class="form-group margin-top-20">
                                    <button onclick="Update()" type="button" class="btn btn-success btn-icon right10">
                                        <i class="fa fa-save "></i> &nbsp; <span>@InformationHub.Resource.Resource.Save_Title</span>
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" onclick="window.location='/ReportProfile/Index'">
                                        <i class="fa fa-power-off"></i> &nbsp; <span>@InformationHub.Resource.Resource.Exit_Title</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<textarea hidden id="idlistFile">@ViewBag.listFile</textarea>
<script src="~/ScriptControllers/UpdateProfileControllers.js"></script>
<script>
    $('#InformationSources').val('@Model.InformationSources');
    $('#SeverityLevel').val('@Model.SeverityLevel');
    $('#Gender').val('@Model.Gender');
    $('#ProvinceId').val('@Model.ProvinceId');
    $('#FatherJob').val('@Model.FatherJob');
    $('#MotherJob').val('@Model.MotherJob');
    window.onload = InitModel('@Model.Id');
</script>