@{
    ViewBag.Title = @InformationHub.Resource.Resource.Report_Statistic_ChildFundArea_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string type = ViewBag.type;
}

<section class="wrapper main-wrapper">
    <div ui-view="" class="ng-scope">
        <div class="content-wrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="box collapsed">
                    <header class="panel_header">
                        <h2 class="title pull-left">@InformationHub.Resource.Resource.Search_Title</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle material-icons">expand_more</i>
                        </div>
                    </header>
                    <div class="content-body padding-bottom-10">
                        <div class="row">

                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Area_Province</label>
                                            <select class="form-control" id="provinceId" onchange="GetDistrict()">
                                                <option selected value="">@InformationHub.Resource.Resource.All_Title</option>
                                                @Html.Action("UserAreaCBB", "Combobox")
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_District</label>
                                            <select class="form-control" id="districtId" onchange="GetWard()">
                                                <option selected value="">@InformationHub.Resource.Resource.All_Title</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.Label_Ward</label>
                                            <select class="form-control" id="wardId">
                                                <option selected value="">@InformationHub.Resource.Resource.All_Title</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label class="form-label">@InformationHub.Resource.Resource.DayFrom_Title</label>
                                                <input placeholder="@InformationHub.Resource.Resource.Label_Date" id="dateFromSearch" type="text" class="form-control datepicker">
                                                <input type="hidden" value="@type" id="type_User" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="form-label">@InformationHub.Resource.Resource.ReportProfile_DateTo</label>
                                            <div class="controls">
                                                <input placeholder="@InformationHub.Resource.Resource.Label_Date" id="dateToSearch" type="text" class="form-control datepicker">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-top-10 padding-right-20 text-right">
                            <button onclick="Search(0)" class="btn btn-success btn-icon right10">
                                <i class="fa fa-search"></i> &nbsp; <span>@InformationHub.Resource.Resource.Search_Title</span>
                            </button>
                            <button onclick="Refresh()" class="btn btn-default btn-icon">
                                <i class="fa fa-refresh"></i> &nbsp; <span>@InformationHub.Resource.Resource.Reset_Title</span>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">
                        @InformationHub.Resource.Resource.Report_Statistic_Title
                    </h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-10">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="width:100%;overflow-x:auto">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="childFundChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 class="margin-top-10 margin-bottom-10">@InformationHub.Resource.Resource.Statistic_Title</h4>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@InformationHub.Resource.Resource.ReportProfile_Area_AbuseType</th>
                                            <th class="text-center">@InformationHub.Resource.Resource.Abuse_Type_01</th>
                                            <th class="text-center">@InformationHub.Resource.Resource.Abuse_Type_02</th>
                                            <th class="text-center">@InformationHub.Resource.Resource.Abuse_Type_03</th>
                                            <th class="text-center">@InformationHub.Resource.Resource.Abuse_Type_04</th>
                                            <th class="text-center">@InformationHub.Resource.Resource.Other_Type</th>
                                            <th class="text-center">@InformationHub.Resource.Resource.Count_Title</th>
                                        </tr>
                                    </thead>
                                    <tbody id="data_table"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<script src="~/ScriptControllers/StatisticByChildFundAreaController.js"></script>
<script>
    window.onload = Search();
</script>